body {
	background-image: url("background.png");
	background-color: #9ae8ff;
	background-repeat: repeat-x;
	font-family: 'VT323', cursive;
	font-size: 25px;
}

div.main {
	background-color: rgba(1,1,2,0.1);
	width: 50%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 25px;
	border-radius: 20px;
	border: solid 1px;
}

#thumbnail {
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	width: 535px;
	height: 300px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	-moz-transition: -moz-transform 0.2s ease-in-out;
	transition: transform 0.5s ease-in-out;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

#thumbnail:hover {
	-webkit-transform: translate(50%,50%) scale(2);
	-moz-transform: translate(50%,50%) scale(2);
	transform: translate(50%,50%) scale(2);
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: black;
}